---
layout: page
title: Resume
---

<div id="resume">
  <h4> Education </h4> 

  <table style="width:100%" align="justify"  colspan="3">
   <font size=3>   

    <tr>
    <strong>
    
    <td><strong>Masters Degree, Computer Science</strong><br /> 
    University of Edinburgh, UK<br /><br /></td>     
    <td>TBD <br /> <br /><br /></td>
    <td>2018 - present<br /><br /> <br /></td>
    </strong>
    </tr>  

    <tr>    
    <td><strong>Bacherlor of Science (Hons), Electronic and Telecom. Engineering</strong><br /> 
    University of Moratuwa, Sri lanka<br /></td>    
    <td>3.97/4.2 <br /><br /></td>
    <td>2011 - 2016 <br /> <br /></td>    
    </tr>
  </font>  
 </table>
<hr style="display: inline-block; width: 100%;height:2px;color:black;background-color:black; margin-bottom: 0px; margin-top: 0px; margin-left: 0px;" />
 <!--hr style="display: inline-block; width: 90%; margin-bottom: 4px; margin-left: 5px;" /-->


 <h4>  Experience  </h4>  
  <table style="width:100%" align="justify"  colspan="3">
   <font size=3>   

    <tr>
    <strong>
    
    <td><strong>Research Engineer</strong><br /></td> 
    <td>CodeGen <br /></td>   
    <td>Jan 2018 - present <br /></td> 
    </strong>
    </tr>  

    <tr>
    <strong>
    
    <td><strong>Electronic Engineer</strong><br /></td> 
    <td>Paraqum<br /></td>
    <td>Apr 2016 - Dec 2017 <br /></td>    
    </strong>
    </tr>  

    <tr>
    <strong>    
    <td><strong>Google Summer of Code Student</strong><br /></td> 
    <td>WSO2 <br /></td>
    <td>Feb 2016 - Sep 2016 <br /></td>   
    </strong>
    </tr>  

    <tr>
    <strong>
    
    <td><strong>Engineering Intern</strong><br /></td> 
    <td>Synopsys <br /></td>
    <td>Oct 2014 - Apr 2015 <br /></td>   
    </strong>
    </tr>
 <!--hr style="display: inline-block; width: 90%; margin-bottom: 4px; margin-left: 5px;" /-->
    
   </font>
  </table>
<hr style="display: inline-block; width: 100%;height:2px;color:black;background-color:black; margin-bottom: 0px; margin-top: 0px; margin-left: 0px;" />
 </div> <!-- resume -->


<h4>Skills</h4>
<table style="width:100%" align="justify"  colspan="2">
   <font size=3> 

    <tr>   
    <td><strong>Programming</strong><br /></td> 
    <td>C/C++, Java, Python, bash, tcl <br /></td></td>   
    </tr>

    <tr>   
    <td><strong>Hardware</strong><br /></td> 
    <td>HDL, Verilog, System Verilog, VHDL <br /></td></td>   
    </tr>

    <tr>   
    <td><strong>Tools</strong><br /></td> 
    <td>Linux, RISC, RISC-V and Open Source Developments <br /></td></td>   
    </tr>
   </font>
  </table>
<hr style="display: inline-block; width: 100%;height:2px;color:black;background-color:black; margin-bottom: 0px; margin-top: 0px; margin-left: 0px;" />

<h4>Projects</h4>
<table style="width:100%" align="justify"  colspan="2">
   <font size=3>   

    <tr>
       <td><a style="text-decoration:none" href="https://github.com/OpenSemi/opensemi">OpenSemi</a>  </td>
       <td> Research Oriented Fabless Open Source Semiconductor Initiative </td>
    </tr>

    <tr>
       <td><a style="text-decoration:none" href="https://github.com/dananjayamahesh">DeepNet</a>  </td>
       <td> High Performance & Energy Efficient Domain-Specific Accelerators for Deep Neural Networks </td>
    </tr>

    <tr>
       <td><a style="text-decoration:none" href="https://github.com/dananjayamahesh/streamingml">streamingml</a>  </td>
       <td> Real Time Massive Predictive Analytics with Online Big Data </td>
    </tr>

    <tr>
       <td><a style="text-decoration:none" href="https://github.com/dananjayamahesh/P4PQ">P4PQ</a>  </td>
       <td> P4 Parser Engine of the P4PQ Data Plane Architecture, Beyond OpenFlow </td>
    </tr>

    <tr>
   <td><a style="text-decoration:none" style="text-decoration:none" href="https://github.com/dananjayamahesh/ceyloniac">ceyloniac</a>  </td>
       <td>OpenFlow Aware Network Processor with custom RISC ISA </td>
    </tr>

    <tr>
       <td><a style="text-decoration:none" href="https://github.com/dananjayamahesh/NetWalk">NetWalk</a>   </td>
       <td> High Performance OpenFlow Architecture for Software Defined Networking (SDN) </td>
    </tr>

    <tr>
       <td><a style="text-decoration:none" href="https://github.com/dananjayamahesh/netwalk-hw">netwalk-hw</a>  </td>
       <td> Hardware Implementation for High Performance OpenFlow Architecture </td>
    </tr>

    <tr>
       <td><a style="text-decoration:none" href="https://github.com/Hype">Hype</a>   </td>
       <td> Evolutionary Optimizer for Dynamic Non-Convex Optimization</td>
    </tr>

    <tr>
       <td><a style="text-decoration:none" href="https://github.com/MunichBFOR">MunichBFOR</a>   </td>
       <td> Evolutionary Multi Niche Bacterial Foraging Algorithm for Neural Network Optimization</td>
    </tr>
</table>



<hr style="display: inline-block; width: 100%;height:2px;color:black;background-color:black; margin-bottom: 0px; margin-top: 0px; margin-left: 0px;" />
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>


