<footer class="footer-main">
      <p hidden>
        {% if page.title != "About" %}
       
        <img src="{{site.url}}/{{site.footerpic2}}" width="150px" height="50px" align="left" hspace="20">
        <img src="{{site.url}}/{{site.footerpic3}}" width="150px" height="50px" align="left" hspace="20"> 
        <img src="{{site.url}}/{{site.footerpic4}}" width="200px" height="50px" align="left" hspace="20">
        {% endif %}  
     </p>
        {% if page.title != "About" %}
        <img src="{{site.url}}/{{site.footerpic}}" width="200px" height="50px" align="left" hspace="20">  
        {% endif %}  
<p>
    {{ site.name }} © {{ site.time | date: '%Y' }} 
  <a class="link" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a> 

</p>

</footer>
